.best{
    background: url('../../Assets/tv_series_bg.jpg') center/cover no-repeat;
    padding: 50px 0;
    overflow: hidden;

}
.best .row{
    margin: 25px 0;
}
.best span{
    color: #e4d804;
    display: block;
    font-size: 14px;
    text-transform: capitalize;
    margin: 20px 0;
    text-align: center;
}
.best h2{
    color: #Fff;
    font-size: 50px;
    text-align: center;
    text-transform: capitalize;
    text-align: center;
}